# Ignore all files and folders in root (to avoid project files making it to the repository):
/*

# Except for the following folders:
!/src/
!/resources/
!/data/
!/matlab_analyzation_scripts/
!/jar_folder_output_template/

# Except for the following files:
!.gitignore
!README.md
